In [61]:
import pandas as pd

In [62]:
df_meteo = pd.read_csv("data/meteo_data_preprocessed.csv")
# load already gap fille data
df_fluxes = pd.read_csv("data/flux_data_preprocessed_gapfilled.csv")

In [63]:
df = df_meteo.merge(df_fluxes, how="outer", on=["date", "year", "month", "day", "30min", "location"])

In [64]:
# select subset where either H_orig or LE_orig are NaN
mask = df[["H_orig", "LE_orig"]].isna().any(axis=1)
subset_df = df[mask]

In [65]:
def nan_percentage(df):
    """
    This function takes a DataFrame as input and returns a new DataFrame
    containing the percentage of NaN values in each column.
    
    Parameters:
    df (pd.DataFrame): The input DataFrame.
    
    Returns:
    pd.DataFrame: A new DataFrame with columns 'Column' and 'NaN_Percentage'.
    """
    nan_percent = df.isna().mean() * 100
    result_df = pd.DataFrame({'Column': nan_percent.index, 'NaN_Percentage': nan_percent.values})
    return result_df

In [66]:
df_nans = nan_percentage(subset_df)
df_nans

                        Column  NaN_Percentage
0   incomingShortwaveRadiation        0.092347
1   outgoingShortwaveRadiation        0.092347
2                 soilHeatflux        2.111679
3                  airPressure        0.092347
4         waterPressureDeficit        7.412424
5           waterVaporPressure        7.412424
6             relativeHumidity        0.092347
7                    windSpeed        1.218987
8                     location        0.000000
9                         date        0.000000
10                        year        0.000000
11                       month        0.000000
12                         day        0.000000
13                       30min        0.000000
14                      H_orig       94.650003
15                         H_f       37.702395
16                     LE_orig       97.629748
17                        LE_f       37.702395
18                     ET_orig       97.629748
19                        ET_f       37.763960
20                         CO2       93.449486
21                         H2O       96.059841
22                    NEE_orig       94.157483
23                       NEE_f       37.702395
24                       GPP_f       37.702395
25                       Ustar       63.996799

In [54]:
subset_df.head()

,TIMESTAMP_START,incomingShortwaveRadiation,outgoingShortwaveRadiation,soilHeatflux,airPressure,waterPressureDeficit,waterVaporPressure,relativeHumidity,windSpeed,location,...,H2O,NEE_orig,NEE_f,GPP_f,Ustar,date_y,year_y,month_y,day_y,30min_y
0,2023-01-01 00:00:00,-3.695000,-0.092667,5.301667,984.325000,6.826310,9.721517,58.748000,2.980000,0,...,NaN,NaN,13.359751,-10.9150,NaN,2023-01-01 00:00:00,2023.0,1.0,1.0,0.0
1,2023-01-01 00:00:00,-1.324667,0.857667,NaN,956.000000,6.556116,8.893061,57.563333,8.014000,1,...,NaN,NaN,NaN,NaN,NaN,2023-01-01 00:00:00,2023.0,1.0,1.0,0.0
2,2023-01-01 00:30:00,-4.819000,-0.026667,5.039000,984.493333,6.667064,9.633030,59.098000,3.113000,0,...,NaN,NaN,9.337939,-6.9162,NaN,2023-01-01 00:30:00,2023.0,1.0,1.0,1.0
3,2023-01-01 00:30:00,-1.767333,1.208333,NaN,956.000000,6.466390,8.855598,57.796667,7.907333,1,...,NaN,NaN,NaN,NaN,NaN,2023-01-01 00:30:00,2023.0,1.0,1.0,1.0
4,2023-01-01 01:00:00,-4.449333,0.007667,4.445333,984.536667,6.568903,9.598582,59.369667,2.817000,0,...,NaN,NaN,9.337939,-6.9286,NaN,2023-01-01 01:00:00,2023.0,1.0,1.0,2.0